@font-face {
    font-family: lobster;
    src: url(Lobster-Regular.ttf);
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
}


body {
    padding: 10px;
    margin: 10%;
    text-align: center;
    
}

article {
    background-color: white;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.titulo {
    font-family: lobster;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

#principal {
    font-size: 10vw;
    color: #337657;
}

#principalMenu {
    color: #B63D34;
    font-size: 9vw;
    margin-top: 8%;
}

.logo {
    width: 20%;
}

header{
    text-align: center;
}

.espacio {
    margin-top: 8%;
    margin-bottom: 5%;
}

#menu {
    font-family: lobster;
    text-align: center;
    padding-left: 0px;
    margin-top: 5%;
}

li{
    list-style: none;
    padding-bottom: 5%;
}

footer {
    padding-top: 5%;
}

footer ul {
    display: flex;
    padding-left: 0px;
    align-items: flex-start;
    justify-content: center;
}

footer li {
    display: grid;
    justify-items: center;
    gap: 10%;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 7vw;
    gap: 10%;
}

.avatar {
    width: 60%;
    height: 88%;
    border-radius: 50%;
}

#creadores {
    font-size: medium;
}

.rojo{
    color: red;
}

.verde{
    color: green;
}

.blanco{
    color: white;
}

html {
    background-color: #f39f18;
}

header>*{
    margin-left: 15%;
    margin-right: 15%;
}

#propuesta {
    margin-top: 10%;
    font-size: 4vw;
}

#invitacion {
    font-family: lobster;
    font-size: larger;
    font-size: 3vw;
}

ul a {
    color: #FFFFFF;
    background-color: #3F8C25;

    cursor: pointer;
    padding-left: 5%;
    padding-right: 5%;
    
}
#entradas {
    border-radius: 40%;
    background-image: url();
}

p {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3vw;
}

footer > {
    font-size: 2vw;
}

