.box{
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 10%;
}

.titulo {
    text-align: center;
    font-size: 8rem;
}
header{
    text-align: center;
}

body{
    text-align: center;
}
.espacio {
    margin-top: 8%;
    margin-bottom: 5%;
}
h1.espacio2{
    margin-top: 15%;
}
header>*{
    margin-left: 15%;
    margin-right: 15%;
}

ul {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

li{
    list-style: none;
    margin-top: 15%;
    margin-bottom: 15%;
}
a{
    text-decoration: none;
    color: black;
    font-size: 7rem;
}