@font-face {
    font-family: lobster;
    src: url(Lobster-Regular.ttf);
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8rem;
}

header section {
    text-align: -webkit-center;
}

.carrito {
    width: 10%;
}

.tituloFood {
    font-size: larger;
    font-family: lobster;
}

.titulo {
    font-size: -webkit-xxx-large;
    font-family: lobster;
    margin-top: 0px;
}

.imgComida {
    width: 40%;
    height: 10%;
    border-radius: 50%;
}

.volver {
    color: #FFFFFF;
    background-color: #3F8C25;
    cursor: pointer;
    padding: 0.5rem 1.3rem;
    border-radius: 10%;
}

.volver:hover {
    border-radius: 20%;
    background-color: #F3C274;
    color: #C42D28;
}

.logo {
    width: 11%;
    display: block;
    margin: auto;
}

ul {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    list-style: none;
    padding-right: 2.8rem;
}

main div {
    display: flex;
    gap: 5%;
}

.descripcion {
    margin-top: 0px;
    padding-left: 2%;
}

.cost {
    font-size: x-large;
    color: #AD6629;
    padding-bottom: 20%;
}

li:hover {
    text-shadow: #FDF2C0 0.1em 0.3em 0.5em;
    width: 110%;
    height: 110%;
    font-size: 100%;
}

footer {
    background-color: #F07760;
}

.carrito {
    cursor: pointer;
}